@font-face {
	font-family: 'Barlow Semi Condensed';
	font-style: normal;
	font-weight: 200;
	src: url('fonts/barlow-semi-condensed-v2-latin-200.eot'); /* IE9 Compat Modes */
	src: local('Barlow Semi Condensed ExtraLight'), local('BarlowSemiCondensed-ExtraLight'),
			 url('fonts/barlow-semi-condensed-v2-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
			 url('fonts/barlow-semi-condensed-v2-latin-200.woff') format('woff'), /* Modern Browsers */
			 url('fonts/barlow-semi-condensed-v2-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('fonts/barlow-semi-condensed-v2-latin-200.svg#BarlowSemiCondensed') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Barlow Semi Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/barlow-semi-condensed-v2-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'),
			 url('fonts/barlow-semi-condensed-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('fonts/barlow-semi-condensed-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
			 url('fonts/barlow-semi-condensed-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('fonts/barlow-semi-condensed-v2-latin-regular.svg#BarlowSemiCondensed') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Barlow Semi Condensed';
	font-style: normal;
	font-weight: 600;
	src: url('fonts/barlow-semi-condensed-v2-latin-600.eot'); /* IE9 Compat Modes */
	src: local('Barlow Semi Condensed SemiBold'), local('BarlowSemiCondensed-SemiBold'),
			 url('fonts/barlow-semi-condensed-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
			 url('fonts/barlow-semi-condensed-v2-latin-600.woff') format('woff'), /* Modern Browsers */
			 url('fonts/barlow-semi-condensed-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('fonts/barlow-semi-condensed-v2-latin-600.svg#BarlowSemiCondensed') format('svg'); /* Legacy iOS */
}