html { 
	height: 100%;
	background: $grey-dark;
	background-size: contain;
}
body {
	min-width: 375px;
	height: 100%;
	font-family: $font-sans;
	font-size: $font-size-mobile;
	font-weight: 300;
	color: $grey-light;
}
p {
	margin-bottom: 1em;
}
.container {
	position: relative;
	min-height: 100%;
	background: linear-gradient(235deg, #000, #333);
	background-size: 400% 400%;
	-webkit-animation: BgGradient 10s ease infinite;
	-moz-animation: BgGradient 10s ease infinite;
	animation: BgGradient 10s ease infinite;
}
.content {
	@include objectCentered;
	width: 90%;
}
.movie-form {
	max-width: 760px;
	margin: 0 auto;
	padding: 50px 20px;
}
.form-item {
	position: relative;
	padding-top: 15px;
	font-family: $font-sans;
	span {
		display: inline-block;
		vertical-align: bottom;
	}
	button,
	input[type=text],
	select {
		border: none;
		border-bottom: solid 1px $grey-med;
		font-family: $font-sans;
		font-size: $font-size-mobile;
		font-weight: 200;
		color: aqua;
	}
	button {
		display: block;
		background: transparent;
		margin: 20px 0;
		padding: 0;
		border-top: solid 1px $grey-med;
		font-size: 20px;
		cursor: pointer;
	}
	input[type=text] {
		width: 95%;
		margin-bottom: 30px;
		background: none;
		&:focus + label,
		&:valid + label {
			top: 0;
			transition: all linear .25s;
			font-size: 12px;
		}
	}
	.form-select {
		overflow: hidden;
		display: inline-block;
		width: 80%;
		margin: 0 8px -5px 0;
		background: transparent;
		select {
			display: inline-block;
			padding: 0;
			width: 130%;
			border-radius: 0;
			box-shadow: none;
			background: transparent;
			background-image: none;
			-webkit-appearance: none;
			&:focus {
				outline: none;
			}
			option {
				font-family: Times, serif;
			}
		}
	}
}
.movie-list {
	margin-top: 50px;
	padding-top: 50px;
	border-top: dashed 2px $grey-med;
	font-size: 25px;
	li {
		position: relative;
		overflow: auto;
		margin-bottom: 10px;
		padding: 15px 20px 10px;
		background: $grey-dark;
		line-height: 1.5;
	}
	.title {
		display: block;
		padding-right: 75px;
	}
	.genre {
		float: left;
		width: 49%;
		font-size: 20px;
		color: rgba(white,.5);
	}
	.rating {
		float: right;
		width: 49%;
		font-size: 20px;
		text-align: right;
		label {
			margin-left: 8px;
			i:hover {
				color: #FFB400;
			}
		}
	}
	.delete {
		position: absolute;
		top: -2px;
		right: 20px;
		color: $grey-med;
		cursor: pointer;
		transition: all linear .25s;
		&::before {
			content: '86 it!';
			position: absolute;
			bottom: 3px;
			left: -43px;
			opacity: 0;
			font-size: 18px;
			color: $red;
			white-space: nowrap;
			transition: all linear .15s;
		}
		&:hover {
			color: $red;
			transition: all linear .15s;
			&::before {
				opacity: 1;
				transition: all linear .15s;
			}
		}
	}
}

@-webkit-keyframes BgGradient {
	0%, 100% {
		background-position: 0% 99%;
	}
	50% {
		background-position: 100% 2%;
	}
}

@-moz-keyframes BgGradient {
	0%, 100% {
		background-position: 0% 99%;
	}
	50% {
		background-position: 100% 2%;
	}
}

@keyframes BgGradient {
	0%, 100% {
		background-position: 0% 99%;
	}
	50% {
		background-position: 100% 2%;
	}
}

@media screen and (min-width: 800px) {
	body,
	input[type=text],
	select {
		font-size: $font-size-desktop;
	}
	.form-item {
		input[type=text] {
			width: 500px;
			margin: 0 0 0 8px;
		}
		.form-select {
			width: 250px;
			margin: 5px 8px -5px 10px;
		}
	}
	.movie-form {
		padding: 200px 0;
	}
	.movie-list {
		font-size: 30px;
		.genre {
			font-size: 22px;
		}
		.rating {
			font-size: 25px;
		}
	}
}