html {
  box-sizing: border-box; }

*:focus {
  outline: none; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 200;
  src: url("fonts/barlow-semi-condensed-v2-latin-200.eot");
  /* IE9 Compat Modes */
  src: local("Barlow Semi Condensed ExtraLight"), local("BarlowSemiCondensed-ExtraLight"), url("fonts/barlow-semi-condensed-v2-latin-200.woff2") format("woff2"), url("fonts/barlow-semi-condensed-v2-latin-200.woff") format("woff"), url("fonts/barlow-semi-condensed-v2-latin-200.ttf") format("truetype"), url("fonts/barlow-semi-condensed-v2-latin-200.svg#BarlowSemiCondensed") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/barlow-semi-condensed-v2-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Barlow Semi Condensed Regular"), local("BarlowSemiCondensed-Regular"), url("fonts/barlow-semi-condensed-v2-latin-regular.woff2") format("woff2"), url("fonts/barlow-semi-condensed-v2-latin-regular.woff") format("woff"), url("fonts/barlow-semi-condensed-v2-latin-regular.ttf") format("truetype"), url("fonts/barlow-semi-condensed-v2-latin-regular.svg#BarlowSemiCondensed") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/barlow-semi-condensed-v2-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Barlow Semi Condensed SemiBold"), local("BarlowSemiCondensed-SemiBold"), url("fonts/barlow-semi-condensed-v2-latin-600.woff2") format("woff2"), url("fonts/barlow-semi-condensed-v2-latin-600.woff") format("woff"), url("fonts/barlow-semi-condensed-v2-latin-600.ttf") format("truetype"), url("fonts/barlow-semi-condensed-v2-latin-600.svg#BarlowSemiCondensed") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/karma-v8-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Karma Light"), local("Karma-Light"), url("fonts/karma-v8-latin-300.woff2") format("woff2"), url("fonts/karma-v8-latin-300.woff") format("woff"), url("fonts/karma-v8-latin-300.ttf") format("truetype"), url("fonts/karma-v8-latin-300.svg#Karma") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/karma-v8-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Karma SemiBold"), local("Karma-SemiBold"), url("fonts/karma-v8-latin-600.woff2") format("woff2"), url("fonts/karma-v8-latin-600.woff") format("woff"), url("fonts/karma-v8-latin-600.ttf") format("truetype"), url("fonts/karma-v8-latin-600.svg#Karma") format("svg");
  /* Legacy iOS */ }
html {
  height: 100%;
  background: #444;
  background-size: contain; }

body {
  min-width: 320px;
  height: 100%;
  font-family: "Karma", serif;
  font-size: 30px;
  font-weight: 300;
  color: #ececec; }

h1 {
  font-size: 45px;
  font-weight: 300; }

input[type=text] {
  background: none;
  border: none;
  border-bottom: solid 1px #ececec;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: aqua; }

.container {
  position: relative;
  min-height: 100%;
  background: linear-gradient(235deg, #000000, #8e8e8e);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  animation: AnimationName 16s ease infinite; }

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 99%; }
  50% {
    background-position: 100% 2%; }
  100% {
    background-position: 0% 99%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 99%; }
  50% {
    background-position: 100% 2%; }
  100% {
    background-position: 0% 99%; } }
@keyframes AnimationName {
  0% {
    background-position: 0% 99%; }
  50% {
    background-position: 100% 2%; }
  100% {
    background-position: 0% 99%; } }

/*# sourceMappingURL=app.css.map */
