html {
  box-sizing: border-box; }

*:focus {
  outline: none; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 200;
  src: url("fonts/barlow-semi-condensed-v2-latin-200.eot");
  /* IE9 Compat Modes */
  src: local("Barlow Semi Condensed ExtraLight"), local("BarlowSemiCondensed-ExtraLight"), url("fonts/barlow-semi-condensed-v2-latin-200.woff2") format("woff2"), url("fonts/barlow-semi-condensed-v2-latin-200.woff") format("woff"), url("fonts/barlow-semi-condensed-v2-latin-200.ttf") format("truetype"), url("fonts/barlow-semi-condensed-v2-latin-200.svg#BarlowSemiCondensed") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/barlow-semi-condensed-v2-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Barlow Semi Condensed Regular"), local("BarlowSemiCondensed-Regular"), url("fonts/barlow-semi-condensed-v2-latin-regular.woff2") format("woff2"), url("fonts/barlow-semi-condensed-v2-latin-regular.woff") format("woff"), url("fonts/barlow-semi-condensed-v2-latin-regular.ttf") format("truetype"), url("fonts/barlow-semi-condensed-v2-latin-regular.svg#BarlowSemiCondensed") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/barlow-semi-condensed-v2-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Barlow Semi Condensed SemiBold"), local("BarlowSemiCondensed-SemiBold"), url("fonts/barlow-semi-condensed-v2-latin-600.woff2") format("woff2"), url("fonts/barlow-semi-condensed-v2-latin-600.woff") format("woff"), url("fonts/barlow-semi-condensed-v2-latin-600.ttf") format("truetype"), url("fonts/barlow-semi-condensed-v2-latin-600.svg#BarlowSemiCondensed") format("svg");
  /* Legacy iOS */ }
html {
  height: 100%;
  background: #444;
  background-size: contain; }

body {
  min-width: 375px;
  height: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #ececec; }

p {
  margin-bottom: 1em; }

.container {
  position: relative;
  min-height: 100%;
  background: linear-gradient(235deg, #000, #333);
  background-size: 400% 400%;
  -webkit-animation: BgGradient 10s ease infinite;
  -moz-animation: BgGradient 10s ease infinite;
  animation: BgGradient 10s ease infinite; }

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%; }

.movie-form {
  max-width: 760px;
  margin: 0 auto;
  padding: 50px 20px; }

.form-item {
  position: relative;
  padding-top: 15px;
  font-family: "Barlow Semi Condensed", sans-serif; }
  .form-item span {
    display: inline-block;
    vertical-align: bottom; }
  .form-item button,
  .form-item input[type=text],
  .form-item select {
    border: none;
    border-bottom: solid 1px #666;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 32px;
    font-weight: 200;
    color: aqua; }
  .form-item button {
    display: block;
    background: transparent;
    margin: 20px 0;
    padding: 0;
    border-top: solid 1px #666;
    font-size: 20px;
    cursor: pointer; }
  .form-item input[type=text] {
    width: 95%;
    margin-bottom: 30px;
    background: none; }
    .form-item input[type=text]:focus + label, .form-item input[type=text]:valid + label {
      top: 0;
      transition: all linear .25s;
      font-size: 12px; }
  .form-item .form-select {
    overflow: hidden;
    display: inline-block;
    width: 80%;
    margin: 0 8px -5px 0;
    background: transparent; }
    .form-item .form-select select {
      display: inline-block;
      padding: 0;
      width: 130%;
      border-radius: 0;
      box-shadow: none;
      background: transparent;
      background-image: none;
      -webkit-appearance: none; }
      .form-item .form-select select:focus {
        outline: none; }
      .form-item .form-select select option {
        font-family: Times, serif; }

.movie-list {
  margin-top: 50px;
  padding-top: 50px;
  border-top: dashed 2px #666;
  font-size: 25px; }
  .movie-list li {
    position: relative;
    overflow: auto;
    margin-bottom: 10px;
    padding: 15px 20px 10px;
    background: #444;
    line-height: 1.5; }
  .movie-list .title {
    display: block;
    padding-right: 75px; }
  .movie-list .genre {
    float: left;
    width: 49%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5); }
  .movie-list .rating {
    float: right;
    width: 49%;
    font-size: 20px;
    text-align: right; }
    .movie-list .rating label {
      margin-left: 8px; }
      .movie-list .rating label i:hover {
        color: #FFB400; }
  .movie-list .delete {
    position: absolute;
    top: -2px;
    right: 20px;
    color: #666;
    cursor: pointer;
    transition: all linear .25s; }
    .movie-list .delete::before {
      content: '86 it!';
      position: absolute;
      bottom: 3px;
      left: -43px;
      opacity: 0;
      font-size: 18px;
      color: red;
      white-space: nowrap;
      transition: all linear .15s; }
    .movie-list .delete:hover {
      color: red;
      transition: all linear .15s; }
      .movie-list .delete:hover::before {
        opacity: 1;
        transition: all linear .15s; }

@-webkit-keyframes BgGradient {
  0%, 100% {
    background-position: 0% 99%; }
  50% {
    background-position: 100% 2%; } }
@-moz-keyframes BgGradient {
  0%, 100% {
    background-position: 0% 99%; }
  50% {
    background-position: 100% 2%; } }
@keyframes BgGradient {
  0%, 100% {
    background-position: 0% 99%; }
  50% {
    background-position: 100% 2%; } }
@media screen and (min-width: 800px) {
  body,
  input[type=text],
  select {
    font-size: 40px; }

  .form-item input[type=text] {
    width: 500px;
    margin: 0 0 0 8px; }
  .form-item .form-select {
    width: 250px;
    margin: 5px 8px -5px 10px; }

  .movie-form {
    padding: 200px 0; }

  .movie-list {
    font-size: 30px; }
    .movie-list .genre {
      font-size: 22px; }
    .movie-list .rating {
      font-size: 25px; } }

/*# sourceMappingURL=app.css.map */
